* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
    color: #000000;
}

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    background: #d51857;
    width: 100%;
}

.header-wrapped {
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: #000000;
    font-style: oblique;
    cursor: none;
}

.menu i {
    color: #000000;
    font-size: 3rem;
}

/* media queries */
@media screen and (min-width: 480px) {
    /* heading */
    .header-wrapped {
        padding: 1rem 3rem;
    }
    /* section one - Hero Image */

    /* section two - About */

    /* section three - Unsure */

    /* section four - Contact */
    
}

@media screen and (min-width: 600px) {
    /* heading */

    /* section one - Hero Image */

    /* section two - About */

    /* section three - Unsure */

    /* section four - Contact */

}

@media screen and (min-width: 800px) {
    /* heading */
    .logo h1 {
        font-size: 3rem;
    }

    .menu i {
        font-size: 2.5rem;
    }

    /* section one - Hero Image */

    /* section two - About */

    /* section three - Unsure */

    /* section four - Contact */

}

@media screen and (min-width: 1000px) {
    /* heading */

    /* section one - Hero Image */

    /* section two - About */

    /* section three - Unsure */

    /* section four - Contact */

}

@media screen and (min-width: 1200px) {
    /* heading */

    /* section one - Hero Image */

    /* section two - About */

    /* section three - Unsure */

    /* section four - Contact */

}