* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
    color: #000000;
}

/* generic styles */
.center-heading {
    text-align: center;
    overflow: hidden;
    margin-bottom: 40px;
}

.h {
    display: inline-block;
    position: relative;
    font-weight: 400;
    padding: 0 20px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.h::before {
    position: absolute;
    top: 50%;
    width: 999px;
    content: "";
    border-top: 1px solid #ddd;
    left: -999px;
}

.h::after {
    position: absolute;
    top: 50%;
    width: 999px;
    content: "";
    border-top: 1px solid #ddd;
    margin-left: 20px;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

.spacer {
    display: block;
    clear: both;
    width: 100%;
    height: 80px;
    overflow: hidden;
}

.spacer-large {
    display: block;
    clear: both;
    width: 100%;
    height: 160px;
    overflow: hidden;
}

.section {
    margin: 0 3rem;
}

.main-heading {
    font-family: 'Courgette', serif;
}

/* header */

header {
    position: relative;
    top: 0;
    left: 0;
    background: #000000;
    width: 100%;
}

.header-wrapped {
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: #d51857;
    font-style: oblique;
    cursor: none;
}

    .menu i {
        color: #d51857;
        font-size: 3rem;
    }

    /* section one - Hero Image */
    .hero-img {
        width: 100%;
    }

    /* image carosel */
    /* Slideshow container */
    .slideshow-container {
        width: 100%;
        position: relative;
        margin: auto;
    }
    
    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: #000000;
        background: #ffffff;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 10px 10px 0;
        user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 5px 0 0 5px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
        color: #ffffff;
    }
    
    /* Caption text */
    .text {
        color: #000000;
        font-size: 15px;
        padding: 8px 30px;
        position: absolute;
        bottom: 50px;
        text-align: left;
        background: #fff;
        border-radius: 0 5px 5px 0;
        width: 50%;
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    
    /* The dots/bullets/indicators */
    .dots-wrapped {
        position: absolute;
        right: 0;
        bottom: 30px;
        padding: 0px 30px;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
        background-color: #d51857;
    } 
    
    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }

    

    /* section two - About */

    .about-content-wrapped {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 3rem;
    }

    .circle {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        background-color: #d51857;
        
    }

    .about-para {
        column-count: 2;      
        width: 70%;
    }

    /* section three - Fitness Cards */
    .fitness-cards-container{
        display: flex;
        flex-direction: row;
    }

    .fitness-cards {
        margin-right: 4%;
        position: relative;
        float: left;
        display: block;
        padding: 0 !important;
    }

    .column-1-3 {
        width: 30%;
    }

    .column-last {
        margin-right: 0 !important;
    }    

    .card-wrapper {
        position: relative;
    }

    .img-for-card {
        margin-bottom: 15px;
        overflow: hidden;
        position: relative;
        transition: all .3s ease-out;
    }

    .card-is-wrapped {
        display: inline-block;
        position: relative;
    }
    
    .hover-text {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        margin-top: -10px;
        color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 14px;
        opacity: 0;
        z-index: 30;
    }

    .img-for-card img {
        display: inline-block;
        width: 100%;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        background: #000;
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0;    
    }

    .card-is-wrapped:hover .overlay {
        opacity: 0.7;
    }

    .card-is-wrapped:hover .hover-text {
        opacity: 1;
    }

    .text-for-card {
        overflow: hidden;
    }

    .title {
        position: relative;
        display: inline-block;
        color: #444;
        font-weight: 500;
        margin-bottom: 15px;
        font-size: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .title::after {
        position: absolute;
        top: 50%;
        left: 100%;
        margin-left: 14px;
        content: "";
        border-top: 1px solid #ddd;
        width: 999px;
    }

    .description {
        color: #787878;
    }

    .description p {
        margin-bottom: 20px;
        font-size: 15px;
    }

    /* section four - Contact */

    /* footer */
    footer {
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
    }

    footer h5 {
        color: #d0d0d0;
        text-align: center;
        margin-bottom: 1rem;
    }


/* media queries */


@media (max-width: 1000px) {
    /* generic styles */

    /* heading */

    /* section one - Hero Image */

    /* section two - About */
    .about-para {
        width: 65%;
    }

    /* section three - Fitness Cards */

    /* section four - Contact */

}

@media (max-width: 800px) {
    /* generic section */
    .spacer-large {
        height: 100px;
    }

    /* heading */
    .logo h1 {
        font-size: 3rem;
    }

    .menu i {
        font-size: 2.5rem;
    }

    /* section one - Hero Image */
    .text {
        width: 60%;
        margin-bottom: 0;    
    }

    /* section two - About */
    .about-content-wrapped {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .about-para {
        width: 100%;
        margin-top: 5rem;
        column-count: 1;
    }

    /* section three - Fitness Cards */

    /* section four - Contact */

}

@media (max-width: 600px) {
    /* generic section */
    .spacer {
        height: 60px;
    }

    .center-heading {
        margin-bottom: 2rem;
    }
    /* heading */

    /* section one - Hero Image */
    .text {
        width: 70%;
        font-size: 10px;
        bottom: 30px;
    }
    /* section two - About */


    /* section three - Fitness Cards */

    .fitness-cards-container {
        flex-direction: column;
    }

    .column-1-3 {
        width: 100%;
    }

    .fitness-cards {
        margin-right: 0%;
        margin-bottom: 10%;
    }

    .title {
        font-size: 20px;
    }

    /* section four - Contact */

}

@media (max-width: 480px) {
    /* generic section */
    .section {
        margin: 0 2rem;
    }

    /* heading */
    .header-wrapped {
        padding: 1rem 2rem;
    }

    .menu i {
        font-size: 2rem;
    }

    .logo h1 {
        font-size: 2rem;
    }
    /* section one - Hero Image */

    .dot {
        height: 10px;
        width: 10px;
        margin: 0 1px;
    }

    .text {
        display: none;
    }    

    /* section two - About */

    /* section three - Fitness Cards */

    /* section four - Contact */
    
}

@media (max-width: 300px) {
    /* generic section */

    /* heading */
    .logo h1 {
        font-size: 1rem;
    }

    .menu i {
        font-size: 1rem;
    }

    /* section one - Hero Img */
    .dots-wrapped {
        bottom: 10px;
    }

    /* section two - About */
    .h {
        font-size: 20px;
    }

    .about-para {
        font-size: 15px;
    }

    /* section three - Fitness Cards */
    .title {
        font-size: 12px;
    }

    .description p {
        font-size: 10px;
    }

    .column-last {
        margin-bottom: 0 !important;
    }

    /* section four - Contact */
    

}