    * {
        margin: 0;
        padding: 0;
        border: none;
    }


    body {
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        background: #ffffff;
        color: #000000;
        overflow-x: hidden;
    }

    /* generic styles */
    a {
        text-decoration: none;
    }

    .subtitle {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
    }

    .center-heading {
        text-align: center;
        overflow: hidden;
        margin-bottom: 70px;
    }

    .h {
        display: inline-block;
        position: relative;
        font-weight: 400;
        padding: 0 20px;
        margin-bottom: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .h::before {
        position: absolute;
        top: 50%;
        width: 999px;
        content: "";
        border-top: 1px solid #ddd;
        left: -999px;
    }

    .h::after {
        position: absolute;
        top: 50%;
        width: 999px;
        content: "";
        border-top: 1px solid #ddd;
        margin-left: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        border: 0;
    }

    .spacer {
        display: block;
        clear: both;
        width: 100%;
        height: 80px;
        overflow: hidden;
    }

    .spacer-large {
        display: block;
        clear: both;
        width: 100%;
        height: 160px;
        overflow: hidden;
    }

    .section {
        margin: 0 3rem;
    }

    .main-heading {
        font-family: 'Courgette', serif;
    }

    /* header */

    header {
        position: relative;
        top: 0;
        left: 0;
        background: #000000;
        width: 100%;
    }

    .header-wrapped {
        display: flex;
        flex-direction: row;    
        justify-content: space-between;
        align-items: flex-end;
        padding: 1rem 2rem;
    }

    .logo img {
        width: 30%;
    }

    .menu i {
        color: #d51857;
        font-size: 3rem;
    }

    /* hamburger menu */
    .container {
        width: 5%;
        margin: auto;
      }
      
      .navbar {
        width: 100%;
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
      }
      
      .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
      }
      
      
      .nav-container {
        display: block;
        position: relative;
      }
      
      .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
      }
      
      .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #d51857;
      }
      
      .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
      
      .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
      }
      
      .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
      }
      
    /* .menu-items {
        padding-top: 120px;
        box-shadow: inset 0 0 2000px rgba(160, 45, 45, 0.5);
        height: 100vh;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
      } */

      .menu-items {
        margin-top: 4rem;
        background-color: #000000;
        width: 45vw;
        height: 100vh;
        z-index: 99999;
        position: relative;
        right: -20rem;
        transition: all 1s;
      }

      .login-wrapped {
          padding: 20px 50px;
      }

      .sign-in {
        color: #fff;
        text-transform: uppercase;
        padding-bottom: 2rem;
        font-size: 2.5rem;
        font-weight: 200;
        display: inline-block;
        position: relative;
        letter-spacing: 2px;
      }

      .sign-in::after {
        position: absolute;
        top: 30%;
        width: 999px;
        content: "";
        border-top: 1px solid #ddd;
        margin-left: 20px;
    }

    .login-input {
        width: 80%;
        padding: 5px;
    }

    .login-submit {
        width: 83%;
        color: #000;
        background: #fff;
        padding: 5px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 300;
        letter-spacing: 2px;
        font-size: 15px;
        margin-top: 15px;
        cursor: pointer;
    }
      
      .nav-container input[type="checkbox"]:checked ~ .menu-items {
        right: 25rem;
      } 
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
      }


    /* section one - Hero Image */
    .hero-img {
        width: 100%;
    }

    /* image carosel */
    /* Slideshow container */
    .slideshow-container {
        width: 100%;
        position: relative;
        margin: auto;
    }
    
    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: #000000;
        background: #ffffff;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 10px 10px 0;
        user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 5px 0 0 5px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
        color: #ffffff;
    }
    
    /* Caption text */
    .text {
        color: #000000;
        font-size: 15px;
        padding: 8px 30px;
        position: absolute;
        bottom: 50px;
        text-align: left;
        background: #fff;
        border-radius: 0 5px 5px 0;
        width: 50%;
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    
    /* The dots/bullets/indicators */
    .dots-wrapped {
        position: absolute;
        right: 0;
        bottom: 30px;
        padding: 0px 30px;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
        background-color: #d51857;
    } 
    
    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }

    

    /* section two - About */

    .about-content-wrapped {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 3rem;
    }

    .circle {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        background-color: #d51857;
    }

    .about-para {
        column-count: 2;      
        width: 70%;
    }

    /* section three - Fitness Cards */
    .fitness-cards-container{
        display: flex;
        flex-direction: row;
    }

    .fitness-cards {
        margin-right: 4%;
        position: relative;
        float: left;
        display: block;
        padding: 0 !important;
    }

    .column-1-3 {
        width: 30%;
    }

    .column-last {
        margin-right: 0 !important;
    }    

    .card-wrapper {
        position: relative;
    }

    .img-for-card {
        margin-bottom: 15px;
        overflow: hidden;
        position: relative;
        transition: all .3s ease-out;
    }

    .card-is-wrapped {
        display: inline-block;
        position: relative;
    }
    
    .hover-text {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        margin-top: -10px;
        color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 14px;
        opacity: 0;
        z-index: 30;
    }

    .img-for-card img {
        display: inline-block;
        width: 100%;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        background: #000;
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0;    
    }

    .card-is-wrapped:hover .overlay {
        opacity: 0.7;
    }

    .card-is-wrapped:hover .hover-text {
        opacity: 1;
    }

    .text-for-card {
        overflow: hidden;
    }

    .title {
        position: relative;
        display: inline-block;
        color: #444;
        font-weight: 500;
        margin-bottom: 15px;
        font-size: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .title::after {
        position: absolute;
        top: 50%;
        left: 100%;
        margin-left: 14px;
        content: "";
        border-top: 1px solid #ddd;
        width: 999px;
    }

    .description {
        color: #787878;
    }

    .description p {
        margin-bottom: 20px;
        font-size: 15px;
    }

    /* section four - Contact */
    .contact-wrapped {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .form-wrapper {
        background-color: #000000;
        width: 60%;
        padding: 2%;
    }

    .form-wrapper label {
        color: #ffffff;
        font-size: 15px;
    }
    
    input {
        border-top: none;
        border-right: none;
        border-left: none;
        border-image: initial;
        border-bottom: 2px solid #fff;
        color: #fff;
        margin-bottom: 20px;
        background-color: transparent;
    }

    textarea {
        resize: none;
        width: 96%;
        background-color: #fff;
        padding: 2%;
        margin-top: 2%;
    }

    .form-wrapper input {
        width: 100%;
    }

    .form-wrapper input[type=submit] {
        padding: 10px 0;
        font-size: 15px;
        cursor: pointer;
        transition: all .5s;
    }

    .form-wrapper input[type=submit]:hover {
        color: #d51857;
    }

    .other-methods {
        width: 20%;
        display: flex;
        flex-direction: column;
    }

    .method-wrapped {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .black-circle {
        width: 45px;
        height: 45px;
        border-radius: 50px;
        overflow: hidden;
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }

    .method-wrapped i {
        color: #fff;
        font-size: 20px;
        transition: all .5s;
    }

    .method-wrapped i:hover {
        color: #d51857;
    }

    .method-wrapped h1 {
        font-size: 20px;
        font-weight: 400;
    }


    /* footer */
    footer {
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
    }

    footer h5 {
        color: #d0d0d0;
        text-align: center;
        margin-bottom: 1rem;
        transition: all .5s;
    }

    footer h5:hover {
        color: #d51857;
    }


/* media queries */


@media (max-width: 1000px) {
    /* generic styles */

    /* heading */

    /* Hamburger menu */
    .container {
        width: 8%;
    }

    .nav-container input[type="checkbox"]:checked ~ .menu-items {
        right: 20rem;
    }

    .menu-items {
        width: 48vw;
    }

    /* section one - Hero Image */

    /* section two - About */
    .about-para {
        width: 65%;
    }

    /* section three - Fitness Cards */

    /* section four - Contact */

}

@media (max-width: 800px) {
    /* generic section */
    .spacer-large {
        height: 100px;
    }

    /* heading */
    .logo h1 {
        font-size: 3rem;
    }

    .menu i {
        font-size: 2.5rem;
    }

    /* Hamburger menu */
    .nav-container input[type="checkbox"]:checked ~ .menu-items {
        right: 20rem;
    }

    .menu-items {
        width: 60vw;
    }

    /* section one - Hero Image */
    .text {
        width: 60%;
        margin-bottom: 0;    
    }

    /* section two - About */
    .about-content-wrapped {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .about-para {
        width: 100%;
        margin-top: 5rem;
        column-count: 1;
    }

    /* section three - Fitness Cards */

    /* section four - Contact */
    .contact-wrapped {
        flex-direction: column;
    }

    .form-wrapper {
        margin-bottom: 5rem;
        width: 96%;
    }

    .other-methods {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
        
    .black-circle {
        margin-right: 5px;
    }

    .method-wrapped h1 {
        font-size: 15px;
    }    

}

@media (max-width: 600px) {
    /* generic section */
    .spacer {
        height: 60px;
    }

    .center-heading {
        margin-bottom: 2rem;
    }
    /* heading */

    /* Hamburger menu */
    .nav-container input[type="checkbox"]:checked ~ .menu-items {
        right: 16rem;
    }

    /* section one - Hero Image */
    .text {
        width: 70%;
        font-size: 10px;
        bottom: 30px;
    }
    /* section two - About */


    /* section three - Fitness Cards */

    .fitness-cards-container {
        flex-direction: column;
    }

    .column-1-3 {
        width: 100%;
    }

    .fitness-cards {
        margin-right: 0%;
        margin-bottom: 10%;
    }

    .title {
        font-size: 20px;
    }

    /* section four - Contact */
    .method-wrapped h1 {
        display: none;
    }

    .black-circle {
        width: 50px;
        height: 50px;
    }

}

@media (max-width: 480px) {
    /* generic section */
    .section {
        margin: 0 2rem;
    }

    /* heading */
    .header-wrapped {
        padding: 0.3rem 2rem;
    }

    .menu i {
        font-size: 2rem;
    }

    .logo h1 {
        font-size: 2rem;
    }

    /* Hamburger menu */
    .container {
        width: 12%;
    }

    .nav-container input[type="checkbox"]:checked ~ .menu-items {
        right: 26rem;
    }

    .menu-items {
        width: 105vw;
    }    

    .login-submit {
        width: 103%;
    }  

    .login-input {
        width: 100%;
    }
    
    .login-wrapped {
        padding: 50px;
    }

    .sign-in {
        padding-bottom: 3rem;
        font-size: 2rem;
    }

    /* section one - Hero Image */

    .dot {
        height: 10px;
        width: 10px;
        margin: 0 1px;
    }

    .text {
        display: none;
    }    

    /* section two - About */

    /* section three - Fitness Cards */

    /* section four - Contact */

    .subtitle {
        font-size: 10px;
    }
    
}

@media (max-width: 300px) {
    /* generic section */

    /* heading */
    .logo h1 {
        font-size: 1rem;
    }

    .menu i {
        font-size: 1rem;
    }

    /* Hamburger menu */

    .container {
        width: 20%;
    }

    .menu-items {
        right: 14rem;
    }

    .login-wrapped {
        padding: 50px 35px;
    }

    .sign-in::after {
        top: 22%;
    }

    .login-input {
        width: 95%;
    }

    .login-submit {
        width: 100%;
    }


    /* section one - Hero Img */
    .dots-wrapped {
        bottom: 10px;
    }

    /* section two - About */
    .h {
        font-size: 20px;
    }

    .about-para {
        font-size: 15px;
    }

    /* section three - Fitness Cards */
    .title {
        font-size: 12px;
    }

    .description p {
        font-size: 10px;
    }

    .column-last {
        margin-bottom: 0 !important;
    }

    /* section four - Contact */

    .form-wrapper {
        width: 92%;
        padding: 4%;
    }

    .black-circle {
        width: 35px;
        height: 35px;
    }

    .method-wrapped i {
        font-size: 15px;
    }

    /* footer */
    footer h5 {
        font-size: 10px;
    }
}